# Expo
.expo/
.expo-shared/
dist/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Build
*.ipa
*.apk
*.jks

# SQLite
*.db
*.db-journal

# Misc
.env.example.local

